<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#tab1" aria-current="true">Link1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#tab2">Link2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#tab3">Link3</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" data-bs-toggle="tab" href="#tab4">Disabled</a>
      </li>
    </ul>
  </div>

  <div class="card-body tab-content">
   
    <div id="tab1" class="tab-pane fade show active text-start">
        <h5 class="card-title">AAA Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
        
    <div id="tab2" class="tab-pane fade">    
        <h5 class="card-title">BBB BBBBBBB</h5>
        <p class="card-text">bbbbb With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">bbb Go somewhere</a>
    </div>

    <div id="tab3" class="tab-pane fade text-end">    
        <h5 class="card-title">CCC CCCCCCCC</h5>
        <p class="card-text">ccccc With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">bbb Go somewhere</a>
    </div>

    <div id="tab4" class="tab-pane fade">
        <h5 class="card-title">DDDDDDDD</h5>
        <p class="card-text">dddd With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">ddd Go somewhere</a>
    </div>
    
  </div>
  
</div>